.logo {
    font-family: var(--fonte-logo);
    font-size: 28px;
    font-weight: 700;
    color: var(--azul-claro);
}

.search {
    display: flex;
    align-items: center;
    margin: 2em 1em;
}

.search-lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
}

.search__pesquisa {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: .7em 1em;
    width: 40vw;
}

.search__pesquisa::placeholder {
    font-size: 18px;
    background: url("../img/ícone\ busca.png") no-repeat right center;
}

.cabecalho-lista__item a {
    text-decoration: none;
    color: var(--branco);
}


.cabecalho-lista__item {
    font-weight: 600;
    border-radius: 20px;
    padding: .5em 1em;
    color: var(--branco);
    border: var(--azul-claro) 2px solid;
}

.cabecalho-lista__item {
    background-color: var(--azul-claro);
}